<% if user_signed_in? -%>
    <h3>Select Organization</h3>
    <%= simple_form_for @admin do |f| %>
        <%= f.input :organization, :label => 'Organization For Imports' %>
        <% if @group && @group.webforms -%>
            <%= f.input :webform, :collection => @group.webforms, :label => 'Webform To Import' %>
        <% end -%>
        <%= f.button :submit %>
    <% end %>
<% else -%>
<% end -%>
