<%= form_for(@group, :url => 'import',  :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= file_field_tag :csv %>
    <%= f.text_field :group_template %>
    <%= f.submit 'Import' %>
  </div>
<% end %>
